# === Python / Django ===
*.pyc
__pycache__/
*.log

# Ignorer l'environnement virtuel
venv/

# Fichier d'environnement 
.env

# === Angular / Node ===
frontend/node_modules/
frontend/dist/

# === IDE / fichiers système ===
.vscode/
.DS_Store
*.swp