# === Python / Django ===
*.pyc
__pycache__/
*.log

# Ignorer l'environnement virtuel
venv/

# Fichier d'environnement 
.env

# === PostgreSQL ===
*.pid
*.dump

# === Frontend (Angular) ===
/frontend/dist/
/frontend/tmp/
/frontend/out-tsc/
/frontend/bazel-out/

# Node
/frontend/node_modules/
npm-debug.log
yarn-error.log

# IDE/Editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
.history/*

# Angular
/frontend/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Fichiers système
.DS_Store
Thumbs.db