<div class="dashboard-container">
  
  <!-- Main Content -->
  <main class="main-content">
    <header class="content-header">
      <div class="header-content" >
        <h1 class="page-title">Hello, </h1>
        <p class="page-subtitle">"Knowledge speaks, but wisdom listens." - Jimi Hendrix</p>
      </div>
    </header>

    <!-- All Quotes -->
    <section class="all-quotes">
      <div class="section-header">
        <h2 class="section-title">All Quotes</h2>
        <a routerLink="/user/quotes" class="view-all">View All →</a>
      </div>

      <div class="quotes-grid">
        <!-- Quote 1 -->
        <div class="quote-card">
            <div class="quote-content">
              <p class="quote-text">“It is our choices, Harry, that show what we truly are, far more than our abilities.”</p>
              <p class="quote-author">J.K. Rowling</p>
            </div>
            <div class="quote-footer">
              <span class="quote-category">abilities, choices</span>
            </div>
          </div>

        <!-- Quote 2 -->
        <div class="quote-card">
            <div class="quote-content">
              <p class="quote-text">“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”</p>
              <p class="quote-author">Albert Einstein</p>
            </div>
            <div class="quote-footer">
              <span class="quote-category">inspirational, life, live, miracle, miracles</span>
            </div>
          </div>

        <!-- Quote 3 -->
        <div class="quote-card">
            <div class="quote-content">
              <p class="quote-text">“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”</p>
              <p class="quote-author">Jane Austen</p>
            </div>
            <div class="quote-footer">
              <span class="quote-category">aliteracy, books, classic, humor</span>
            </div>
          </div>
      </div>
    </section>

    <!-- My Quotes and Settings -->
    <section class="additional-sections">

      <div class="settings-section">
        <div class="section-header">
          <h2 class="section-title">Settings</h2>
        </div>

        <div class="settings-card">
          <div class="settings-option">
            
            <i class="fas fa-user-cog" routerLink="/user/profile"></i>
            <span routerLink="/user/profile">Edit Profile</span>
            
          </div>
          <div class="settings-option">
            <i class="fas fa-trash-alt" routerLink="/user/profile"></i>
            <span routerLink="/user/profile">Delete Account</span>
          </div>
          <div class="settings-option">
            <i class="fas fa-sign-out-alt" href="javascript:void(0)" (click)="onLogout()"></i>
            <span href="javascript:void(0)" (click)="onLogout()">Logout</span>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
